<p id="notice"><%= notice %></p>

<h1>Todoリスト</h1>
<div class="contents">
  <%= text_field_tag :title,'', class: 'js-text_field', placeholder: 'タイトルを入力してください' %>

  <ul class="js-messages">
    <%= render @messages %>
  </ul>
</div>



<%= link_to 'New Message', new_message_path %>


